**/*.md
**/*.svg
**/*.ejs
**/*.html
package.json
.umi
.umi-production
.umi-test

/src/.umi
/src/.umi-production
/src/.umi-test
/evdata-web-umi
/node_modules
_function.less
/evdata-exam
*.zip
/public
.mfsu-production
/evdata-ets
